
@keyframes zoom-out-shape-1-anim {
    from {
        width: 270px;
    }
    to{
        width: 210px;
    }
}
@keyframes zoom-out-shape-2-anim {
    from {
        width: 450px;
    }
    to{
        width: 380px;
    }
}

@keyframes headline-circle-anim {
    0% {
        scale: 1.5;
    }
    25%{
        scale: 1;
    }75%{
        scale:1.5;
    }
    100% {
        scale: 1;
    }
}